@font-face {
  font-family: "Abel";
  src: url("../fonts/Abel-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Generales
====================== */
body, body#index {
  background-color: #2b3e50;
  font-family: "Abel";
  color: antiquewhite;

} 
a {
  color: #7fffd4;
}
a:visited {
  color: #7fffd4;
}
p {
  font-size: 1.5rem;
}
hr {
  margin-top: 21px;
  margin-bottom: 21px;
  border: 0;
  border-top: 1px solid #596a7b;
}
h1 {font-size: 3rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.9rem;}
h4 {font-size: 1.8rem;}
h5 {font-size: 1.7rem;}
h6 {font-size: 1.6rem;}

.standard-table {
  font-size: 1.2rem;
  background-color: #1c2935;
  margin: 2rem 0;
}
.standard-table tr td {
  padding: 5px;
}
.standard-table tbody tr:nth-child(2n + 1) {
  background: #2b3e50;
}
.standard-table thead tr th {
  border: 2px solid #fff;
  border-bottom: 2px solid #d4dde4;
  background: #eaeef2;
  background: rgba(212, 221, 228, 0.5);
  padding: 2px 8px 4px;
  font-weight: 700;
}
.card {
	margin-bottom: 2rem;
}
.title {
  color: unset;
}


/* Header
====================== */
header {
  background-color: #1c2935;
  z-index: 1;
}

/*====================
  MENUES
  ====================*/

/* Menu Principal 
====================== */

  /* 
   * OVERRIDE Bulma 
   */

#main-nav {
  background-color: unset;
}
.navbar-item.is-active .navbar-dropdown, .navbar-item.is-hoverable:focus .navbar-dropdown, .navbar-item.is-hoverable:focus-within .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown {
	display: none;
}
.navbar-dropdown {
  background: #1c2935;
}
.navbar-dropdown a.navbar-item:focus, .navbar-dropdown a.navbar-item:hover {
  color: #ccc;
  background-color: unset;
}
.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
  background-color: #03383f;
}
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
	color: unset;
}

nav div div {
  position: relative;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* mobile nav */
.nav-mobile {
  display: none;
  /* position: absolute; */
  justify-content: center;
  align-items: center;
  background: #262626;
  height: 70px;
  width: 70px;
}
nav .has-dropdown a:not(:only-child):after,
nav .has-dropdown a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}


/* desde funcion js para menu mobile */
#nav-toggle {
  /* position: absolute; */
  /* left: 18px; */
  /* top: 22px; */
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Menu aside 
==================== */
.barra-lateral {
  display: block;
  flex: 0 0 calc(15rem + 1.5rem);
  background-color: darkslategray;
}
.barra-lateral p {
  font-size: 1.2rem;
  text-align: justify;
}


/* ===========================
  CONTENIDO PRINCIPAL (<main>)
============================== */
main.bd-main {
  background-color: #2b3e50;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
}
main li {
  font-size: 1.3rem;
  margin-left: 10px;
}
/*================================
 Vista ARITCULO
==================================*/
/* code
====================== */
code {
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", "Source Code Pro",
    Menlo, Consolas, Monaco, monospace;
  border-radius: 3px;
  background-color: rgba(96, 96, 96, 0.5);
  color: white;
  padding: 2px 3px;
  font-size: 1rem;
}
code a {
  color: aquamarine;
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", "Source Code Pro",
    Menlo, Consolas, Monaco, monospace;
}
pre {
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", "Source Code Pro",
    Menlo, Consolas, Monaco, monospace;
  background: rgba(0, 0, 0, 0.85);
  position: relative;
  clear: both;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  min-width: 100%;
  line-height: 28px;
  margin-bottom: 2em;
  border-radius: 3px;
  -ms-word-break: normal;
  word-break: normal;
  word-break: normal;
  border: none;
}
pre code {
  font-size: 1rem;
}
pre[rel] {
  padding-top: 28px;
  margin: 20px 0 50px;
}
pre[rel]::before {
  font-size: 1rem;
  content: attr(rel);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #999;
  padding: 0;
  text-indent: 15px;
}
/* Color de fondo para :before php --------- */
pre[rel="PHP"]::before {
  background: #298f8c;
}
/*  Color de fondo para :before js --------- */
pre[rel="JS"]::before {
  background: #f46903;
}
/* Color de fondo para :before comentario --------- */
pre[rel="COMMENT"]::before {
  background: #391de0;
}
/* Color de fondo para :before codigo ------------*/
pre[rel="CODIGO"]::before {
  background: #555;
}
code[class*="language-"], pre[class*="language-"] {
  white-space: pre-wrap;
  tab-size: 0;
  -moz-tab-size:0;
}
.number {
	align-items: unset;
	background-color: unset;
	border-radius: unset;
	display: unset;
	font-size: unset;
	height: unset;
	justify-content: unset;
	margin-right: unset;
	min-width: unset;
	padding: unset;
	text-align: unset;
	vertical-align: unset;
}
.tile h3 code {
	font-size: 1.9rem;
}

/* Footer
====================== */
footer {
  background-color: #1c2935;
  padding: 2rem;
}

/*================================
 MEDIA QUERIES
==================================*/

@media (max-width: 500px){

  header {
    background-color: unset;
  }
  aside {
    display: none;
  }

  /*menu*/
  ul.main-nav-contenedor {
  background-color: #1c2935;
  }
  ul li.menues {
    float: none;
  }
  ul li.menues li {
    background: #192837;
  }
  .show {
    left: 161px;
  }
  /* menu mobile */
  .nav-mobile {
    display: flex;
  }
  /* desde menu mobile */
  .nav-dropdown {
    position: static;
  }
}